
.container-fluid {
    padding: 0;
}
#main_jumbo {
    background-image: url("../img/Pizza.png");
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
    background-color: lightgrey;
    opacity: 70%;
}
button,input {
    margin-right: 3px;
}
.card-footer {
    display: flex;
    justify-content: flex-end;
 }
/*
#foot {
    display: flex;
    justify-content: flex-end;
}*/
